<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="depencyinjectionexample" frontName="depencyinjectionexample">
            <module name="Course2Link22_DependencyInjectionExample" />
        </route>
    </router>
</config>