<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="link6" frontName="link6">
            <module name="Course2Link6_DefaultPage" />
        </route>
    </router>
</config>